<!DOCTYPE html>

<html>

<head>
    <title>Weather App</title>
    {{!-- <link rel="icon" href="/img/weather.png"> --}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        {{>header}}

        <form action="" method="get">
            <input type="text" placeholder="Location" name="" id="">
            <button>Search</button>
        </form>

        <p id="info1"></p>
        <p id="info2"></p>
    </div>
    {{>footer}}
    <script src="/js/script.js"></script>
</body>

</html>